:root {
  --violet: #5c47d3;
  --gray: #908f8f;
  --red: #d34848;
  --green: #46ac4a;
}
/* Header */
.header {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid gray;
  font-size: 20px;
}
.header svg {
  color: var(--violet);
}
.header--name {
  margin-left: 20px;
}

/* Main */
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5vh;
}

.main__switch--buttons button {
  border: 1px solid var(--gray);
  padding: 13px 22px;
  border-radius: 6px;
  font-size: 36px;
  line-height: 44px;
  width: 120px;
  margin: 50px 30px;
}

.main__message {
  color: white;
  padding: 40px 0;
  width: 250px;
  border: none;
  font-size: 48px;
  line-height: 59px;
}

/* Boolean style button */
.false-switch {
  background-color: white;
  color: var(--violet);
}
.true-switch {
  background-color: var(--violet);
  color: white;
}

/* Boolean style message */
.true-message {
  background-color: var(--green);
}
.false-message {
  background-color: var(--red);
}
